.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
}
.navbar-menu {
  width: 60%;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
}
.menu-link {
  text-transform: uppercase;
}
