.type {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin-top: 40px;
}
.type-link {
  color: #ffa502;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 20px;
  border: 2px solid #ffa502;
  border-radius: 10px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  &:hover,
  &.active {
    color: #fff;
    background-color: #ffa502;
  }
}
