$font-family: 'Montserrat', sans-serif;
$font-size: 14px;

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
}
a {
  text-decoration: none;
}

.yellow {
  color: #ffa502;
}
@import '_header.scss';
@import '_hero.scss';
